%h2 Start a new habit
%span#description This will delete your current habit.
.cancel-confirm
  = form_tag(:controller => "habit", :action => "cancel") do
    %input{ :type => "submit", :value => "Start a new habit" }
