/* colors:
 * Main:
 * #ffaf00 orange
 * #ffbf33
 * #ffbf66
 * Complements:
 * #007ccc blue
 * #009bff
 * #33afff
 * #4e00cc violet
 * Background:
 * #270066
 */

#no-friends {
  margin-top:40px;
  margin-bottom:40px;
  text-align:center;
}
#no-friends a {
  display:block;
  margin-top:20px;
}
#friend-list {
  margin-left:40px;
  margin-right:40px;
  margin-top:40px;
  margin-bottom:40px;
}
.friend {
  padding-top:10px;
  margin-top:10px;
  padding-bottom:10px;
  margin-bottom:10px;
  border-bottom: 1px solid #ccc;
  font-size: 14pt;
}
.friend:last-child {
  border:0;
}
.friend img {
  display: block;
  float:left;
  margin-left:10px;
  margin-right:15px;
}
.friend span {
  display:block;
  margin-bottom:5px;
}
.friend .name {
  color: #ffaf00;
}
