#habit-view {
  margin:30px 15px;
}
#calendar {
  margin-top:30px;
  margin-bottom:30px;
  margin-left:auto;
  margin-right:auto;
}
#calendar th {
  padding: 5px;
}
#calendar td, #calendar th {
  border:1px solid #bbb;
  text-align:center;
  vertical-align:middle;
  cursor: default;
  font-family:'Droid sans';
}
#calendar td .container {
  padding:25px;
  position:relative;
}
#calendar td span {
  display:block;
  margin:5px;
}
#calendar .past {
  background-color:#ccc;
}
#calendar .today {
  cursor: pointer;
  background-color:#a6d4f2;
}
#calendar .x {
  color:red;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  font-size:72pt;
  font-family:'arial';
  opacity:.5;
}
#habit-summary {
  font-size:24pt;
  margin-top:40px;
  margin-bottom:15px;
  text-align:center;
}
#habit-summary .bold {
  color:#ff5e00;
}
#sms-enable {
  font-family:'Droid sans';
}
#notification-edit-link {
  font-size:12pt;
}
.notification-edit-form {
  display:inline;
}
#notification-edit-form {
  display:none;
}
