.faqs
  %h2 Why did you make this?
  %p I am really interested in how our brains work. I especially like little tricks to get us to do things we probably wouldn't do anyways.
  %h2 Does it work?
  %p I've heard good things! I recommend simple habits though. I've seen the most success with habits like 'taking multi-vitamins', 'writing 750 words a day', or 'drinking 500ml of water in the morning'. Those are good because they're measureable and actionable. Don't use this for something like 'exercising' or 'getting to class on time'. Those usually don't happen every day, are subjective, and marking them off as complete doesn't give you the same satisfaction.
  %h2 Why doesn't it have feature X?
  %p Click the 'Feedback' link on the side and let me know what you'd like to see!
  %h2 Are you going to steal my personal information?
  %p Nope! Nobody gets any information from this site that isn't one of your Facebook friends. If you don't want your Facebook friends to see anything, just don't use Facebook to register!
  %h2 Self-promotion:
  %p Check out my other project: <a href="http://conne.cc">conne.cc</a>, and have an easier time getting to know people!
