%h2 Like Twenty One Day Habit?
%p.copy I'm glad! Tell your friends!
%h2 Have ideas on how to make it better?
%p.copy Click the 'Feedback' link on the side and let me know!
%h2 Otherwise, check out my other project: <a href="http://conne.cc">conne.cc</a>
