<h2>We are creatures of habit.</h2>
<p class="copy">
Studies are now proving what practical people have known for years. We operate out of our own habits. When we get used to doing something it is incredibly difficult to quit. This is a gift and a curse.
</p>
<h2>Use it to your advantage.</h2>
<p class="copy">
Force yourself into doing something productive. Use your willpower to convince yourself to do something for 21 days. At the end of 21 days, you will have built your brain into expecting it.
</p>
<h2>Hold yourself accountable.</h2>
<p class="copy">
Twenty One Day Habit will let you keep track of it. To get started, click the login below.
</p>
<div id="facebook-login">
  <fb:login-button></fb:login-button>
  <div id="fb-root"></div>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script>
    FB.init({appId: '<%= ENV['FB_APP_ID'] %>', status: true, cookie: true, xfbml: true});
    FB.Event.subscribe('auth.login', function(response) {
      window.location.reload();
    });
  </script>
</div>
