.content-block
  %h2 You need to connect to Facebook to access this.
  %span#description Click the button below to link your Twenty One Day Habit and Facebook accounts.
  = link_to "Link accounts", auth_facebook_path, :class => "button"
