- if @friends
  %ul#friend-list
- else
  #no-friends 
    %span You have no friends using Twenty One Day Habit, tell them about it!
    = javascript_include_tag "http://static.ak.fbcdn.net/connect.php/js/FB.Share"
    %a{ :name => "fb_share"}
