<!DOCTYPE html>
<html>
<head>
  <title>Twenty One Day Habit</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
    <div id="body">
        <h1 id="title">Twenty One Day Habit</h1>
        <hr id="break" />
        <%= yield %>
    </div>
</body>
</html>
